.currency-rates {
    width: 100%;
    padding: 32px;
    background: $gradient-def;
    border-radius: 28px;
    box-shadow: $shadow-def;

    &__header {
        @include flexBetween;
        margin-bottom: 40px;
    }

    &__title {
        @include clampText($text-m-title, $text-title);
        margin: 0;
    }

    &__update {
        @include clampText($text-m-main, $text-main);
        font-weight: 500;
    }

    &__subtitle {
        @include clampText($text-m-subtitle, $text-subtitle);
        margin: 0px;
    }

    &__info-warpper {
        @include flexBetween;
        margin-top: 30px;
        margin-bottom: 35px;
    }

    &__list {
        @include flexBetween;
        flex-wrap: wrap;
        max-width: 450px;
        row-gap: 32px;
        column-gap: 15px;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    &__item {
        @include clampText($text-m-subtitle, $text-subtitle);
        font-weight: 700;
        width: 130px;
    }

    &__currency {
        color: $color-currency;
    }

    &__course {
        padding-left: 15px;
    }

    &__link {
        @include clampText($text-m-subtitle, $text-subtitle);
        font-weight: 700;
        color: $color-white;

        &:hover {
            @media(hover: hover) {
                color: $color-hover;
            }
        }

        &:active {
            color: $color-active;
        }
    }
}

@media (max-width: $mobile-breakpoints) {
    .currency-rates {
        text-align: center;

        &__header {
            flex-direction: column;
            gap: 15px;
            margin-bottom: 25px;
        }

        &__image {
            display: none;
        }

        &__info-warpper {
            justify-content: center;
        }

        &__list {
            justify-content: center;
        }
    }
}