* {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

.content {
    width: 350px; 
    margin: 0 auto; 
    line-height: 30px; 
    text-align: center;
}

.button-up {
    width: 40px;
    height: 40px;
    padding: 10px;
    background-color: #f9f1f1;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    bottom: 25px;
    right: 25px;
    transition: 0.3s ease;
}

@media (hover: hover) {
    .button-up:hover{
        background-color: #d5d5d5;
    }
}