//эффекты
$transition-def: 0.3s ease;

//цвета
$color-background: #F5F4FF;
$color-border: #BBBBBB33;
$color-white: #fff;
$color-accent: #003CFF;
$color-disabled: #ededed;

//тень 
$shadow-def: 0px 2px 4px 0px #00000033;

//Парамеры размера экрана
$mobile-breakpoints: 720px;