* {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  background-color: #F5F4FF;
}

.unvisible {
  display: none;
}

.button {
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button:disabled {
  cursor: not-allowed;
}

.card {
  width: 320px;
  height: 450px;
  padding: 32px;
  border: 1px solid rgba(187, 187, 187, 0.2);
  border-radius: 28px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}
.card__image {
  width: 100%;
  aspect-ratio: 1;
}
.card__content {
  font-size: 20px;
  margin-top: 32px;
}

@media (max-width: 720px) {
  .card {
    width: 300px;
    height: 420px;
  }
}
.slider {
  width: 100%;
  overflow-x: hidden;
}
.slider__cards {
  display: flex;
  gap: 80px;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 48px;
  transition: 0.3s ease;
}
.slider__actions {
  display: flex;
  gap: 20px;
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto 0;
}
.slider__button {
  height: 64px;
  aspect-ratio: 1;
  background-color: #fff;
  border: 1px solid #003CFF;
  border-radius: 50%;
}
@media (hover: hover) {
  .slider__button:hover {
    background-color: #003CFF;
  }
}
.slider__button:active {
  scale: 0.95;
  opacity: 0.9;
}
.slider__button:disabled {
  background-color: #ededed;
}
.slider__button:disabled:hover {
  background-color: #ededed;
}
.slider__button:disabled:active {
  scale: none;
  opacity: 1;
}
.slider__button_rotate {
  rotate: 180deg;
}

@media (max-width: 720px) {
  .slider__cards {
    gap: 60px;
  }
  .slider__button {
    height: 50px;
  }
}
.main {
  max-width: 1320px;
  margin: 0 auto;
  padding: 10px;
}/*# sourceMappingURL=style.css.map */